.row
  %p id: #{model.id}
  %p url: #{model.url}
  %p user_name: #{model.user_name}
  %p repo_name: #{model.repo_name}
  %p request_token: #{model.request_token}
  %p request_secret: #{model.request_secret}
  %p consumer_key: #{model.consumer_key}
  %p consumer_secret: #{model.consumer_secret}
  %p net_http: #{model.net_http}
  %p type: #{model.repo_type}
