<div class="header">
  <h1><%= @host.name %></h1>
  <%= link_to "Edit", edit_host_path(@host) %>
  <%= link_to "Delete", host_path(@host), method: :delete %>
  <%= link_to "Home", root_path %>
</div>

<div class="row">
  <%= concept "host/cell", @host %>
</div>
<hr>
