<div class="header">
  <h1><%= @key.name %></h1>
  <%= link_to "Edit", edit_key_path(@key) %>
  <%= link_to "Delete", key_path(@key), method: :delete %>
  <%= link_to "Home", root_path %>
</div>

<div class="row">
  <%= @key.value %>
</div>
<hr>
