.header
  %h1= @app.name
  = link_to "Edit", edit_app_path(@app)
  = link_to "Delete", app_path(@app), method: :delete
  = link_to "Home", root_path
.row
  %h3 Hosts
  - @app.hosts.each do |host|
    = concept "host/cell", host

.row
  %h3 Git
  = concept "git/cell", @app.git


.row
  %h3 App Tasks
  = link_to "Deploy"
