.header
  %h3 Edit App
  = link_to "Home", root_path
= simple_form_for contract do |f|
  = f.input :name, placeholder: "Name", label: false
  = f.input :git, placeholder: "Git", label: false
  = f.input :script, placeholder: "Script", label: false

  = hosts_check_boxes f
  = f.button :submit, class: :expand
.errors
  %span
    Errors: #{model.errors.messages}
