.header
  %h3 Edit App
  = link_to "Home", root_path

= simple_form_for contract do |f|
  = f.input :name, placeholder: "Name", label: false

  = f.simple_fields_for :git do |g|
    = g.input :url, placeholder: 'Url', label: false
    = g.input :api_key, placeholder: 'Api Key', label: false  
    = g.select :type, [['Bitbucket', 'Repo::Bitbucket'], ['Github', 'Repo::Github']]

  = # TODO: This should be a select
  = select_for_group f
  = hosts_check_boxes f
  -# = f.simple_fields_for :hosts do |h|
  -#   = h.collection_check_boxes :id, Host.all, :id, :name, { checked: contract.hosts.map(&:id) }

  = f.button :submit, class: :expand
.errors
  %span
    Errors: #{model.errors.messages}
