.header
  %h3 Edit App
  = link_to "Home", root_path
= simple_form_for contract do |f|
  = f.input :name, placeholder: "Name", label: false

  = f.simple_fields_for :git do |g|
    = g.hidden_field :id
    = g.input :url, placeholder: "Url", label: false
    = git_select_boxes g

  = f.input :script, placeholder: "Script", label: false
  = hosts_check_boxes f
  -# = f.simple_fields_for :hosts do |h|
  -#   = h.collection_check_boxes :id, Host.all, :id, :name, { checked: contract.hosts.map(&:id) }

  = f.button :submit, class: :expand
.errors
  %span
    Errors: #{model.errors.messages}
